body {

    font-family : Outfit ;
    background : linear-gradient(  rgb(102, 14, 185) , rgb(189, 118, 255) ) ;
}

.profile {

    display : grid ;
    grid-template-columns : repeat( 2 , 1fr ) ;
    margin : 100px auto ; 
}

.pfp {

    margin : auto ;
    padding : auto ;
}

.pfp img {

    width : 100px ;
}

.name-profession {

    color : white ;
    text-align : center ;
    margin : auto ;
    max-width : 500px ;
}

/* projects container */

.projects-container {

    border-radius : 20px ;
    box-shadow : 0 0 36px 0 rgba(0,0,0,0.3) ;
    background-color : #ffffff22 ;
}

/* projects navigate bar */

.projects-navigate-bar {

    display : grid ;
    grid-template-columns : repeat( 4 , 1fr ) ;
    padding : 0 auto ;
}

.projects-navigate-bar a {

    color : white ;
    font-size : 10px ;
    text-align : center ;
    width : 70% ;
    text-decoration : none ;
    border-radius : 10px ;
    margin : 10px auto 0 auto ;
    padding : 10px 5px ;
    transition-duration : 0.2s ;
}

.projects-navigate-bar a:hover {

    background-color : #ffffff22 ;
}

/* Contact */

.contact {

    display : grid ;
    grid-template-columns : repeat( 21 , 1fr ) ;
    justify-items : end ;
    margin : 0 auto 10px auto ;
}

.contact img {

    width : 25px ;
    border-radius : 10px ;
    padding : 10px ;
    transition-duration : 0.2s ;
}

.contact img:hover {

    background-color : #ffffff22 ;
}

.contact .img-1 {

    grid-column : 20 / 21 ;
}

.contact .img-2 {

    grid-row : 1 ;
    grid-column : 19 / 20 ;
}

.contact .img-3 {

    grid-row : 1 ;
    grid-column : 18 / 19 ;
}

/* projects */

.projects {

    display : grid ;
    grid-template-columns : repeat( 2 , 1fr ) ;
    gap : 20px ;
    margin : 20px auto 0px auto ;
}

.projects img {

    max-width : 150px ;
    border-radius : 5px ;
    margin : 0 auto ;
    transition-duration : 0.2s ;
}

.projects img:hover {

    box-shadow : 0 0 36px 0 rgba(0,0,0,0.5) ;
}

.sign {

    color : white ;
    font-family : 'Pink Bloom';
    grid-column : 1 / 3 ;
    justify-self : end ;
    margin : 0 15px 10px auto ;
}

/* Pad and Tablet Screens */

@media screen and ( min-width : 680px ) {

    /* Projects Navigate Bar [ Tablet version ] */

    .projects-navigate-bar {

        display : grid ;
        grid-template-columns : repeat( 4 , 1fr ) ;
        padding-top : 10px ;
        margin : 10px auto ;
    }
    
    .projects-navigate-bar a {
    
        text-align : center ;
        color : white ;
        font-size : 15px ;
        text-decoration : none ;
        width : 50% ;
        padding : 20px 10px ;
    }

    /* Projects [ Tablet version ] */

    .projects {

        display : grid ;
        grid-template-columns : repeat( 2 , 1fr ) ;
        gap : 30px ;
        margin : 30px auto 10px auto ;
    }
    
    .projects img {
    
        max-width : 300px ;
        border-radius : 5px ;
        margin : auto ;
    }
}

/* PC Screens */

@media screen and ( min-width : 1080px ) {

    /* Projects Navigate Bar [ PC version ] */

    .projects-navigate-bar {

        display : grid ;
        grid-template-columns : repeat( 4 , 1fr ) ;
    }
    
    .projects-navigate-bar a {
    
        color : white ;
        font-size : 20px ;
        text-decoration : none ;
        width : 80% ;
        padding : 20px 10px ;
    }

    /* Projects [ PC version ] */

    .projects {

        display : grid ;
        grid-template-columns : repeat( 2 , 1fr ) ;
        gap : 30px ;
        margin : 30px auto 10px auto ;
    }
    
    .projects img {
    
        max-width : 500px ;
        border-radius : 5px ;
        margin : auto ;
    }
}