body {

    font-family : Outfit ;
    background : linear-gradient(  rgb(102, 14, 185) , rgb(189, 118, 255) ) ;
}

.profile {

    display : grid ;
    grid-template-columns : repeat( 2 , 1fr ) ;
    margin : 100px auto ; 
}

.pfp {

    margin : auto ;
    padding : auto ;
}

.pfp img {

    width : 100px ;
}

.name-profession {

    color : white ;
    text-align : center ;
    margin : auto ;
    max-width : 500px ;
}

/* projects container */

.projects-container {

    border-radius : 20px ;
    box-shadow : 0 0 36px 0 rgba(0,0,0,0.3) ;
}

/* projects navigate bar */

.projects-navigate-bar {

    display : grid ;
    grid-template-columns : repeat( 4 , 1fr ) ;
    padding-top : 10px ;
}

.projects-navigate-bar a {

    color : white ;
    text-decoration : none ;
    padding-left : 10px ;
}

.projects-navigate-bar a:hover {

    color : gold ;
}

/* projects */

.projects {

    display : grid ;
    grid-template-columns : repeat( 2 , 1fr ) ;
    gap : 20px ;
    margin : 20px auto 10px auto ;
}

.projects img {

    max-width : 150px ;
    border-radius : 5px ;
    margin : auto ;
}

.projects img:hover {

    box-shadow : 0 0 36px 0 rgba(0,0,0,0.2) ;
}

/* PC Screens */

@media screen and ( min-width : 980px ) {


}