body , html {

    width : 100% ;
    height : 100% ;
    padding : 0 ;
    margin : 0 ;
}

/* Navigate Bar */ 

.navigate-bar {

    top : 0 ;
    width : 100% ;
    font-family : Oswald , sans-serif ;
    background : linear-gradient( rgba( 0,0,0,0) , rgba( 0,0,0,0 ) ) ;
    backdrop-filter : blur( 3px ) ;
    box-shadow : 0 8px 36px 0 rgba( 0,0,0,0.10 ) ;
    position : fixed ;
}

.navigate-bar li{

    font-size : 30px ;
    font-weight : bold ;
    display : inline ;
    margin-left : 180px ;
}

.navigate-bar a {

    color : #1d1d1dff ;
    text-decoration : none ;
    transition-duration : 0.1s ;
}

.navigate-bar a:hover {

    transition-duration : 0.1s ;
    color : gold ;
}
/* First 4 Logos [ First Row ] */

.logos-container-1 {

    display : flex ;
    padding-top : 100px ;
    padding-left : 120px ;
}

.logo_img_1 {

    flex : 25% ;
}

.logo_img_2 {

    flex : 25% ;
}

.logo_img_3 {

    flex : 25% ;
}

.logo_img_4 {

    flex : 25% ;
}

/* Second 4 Logos [ Second Row ] */


.logos-container-2 {

    display : flex ;
    padding-top : 50px ;
    padding-left : 120px ;
}

.logo_img_5 {

    flex : 25% ;
}

.logo_img_6 {

    flex : 25% ;
}

.logo_img_7 {

    flex : 25% ;
}

.logo_img_8 {

    flex : 25% ;
}

/* Third 4 Logos [ Third Row ] */


.logos-container-3 {

    display : flex ;
    padding-top : 50px ;
    padding-left : 120px ;
}

.logo_img_9 {

    flex : 25% ;
}

.logo_img_10 {

    flex : 25% ;
}

.logo_img_11 {

    flex : 25% ;
}

.logo_img_12 {

    flex : 25% ;
}

/* Fourth 4 Logos [ Fourth Row ] */


.logos-container-4 {

    display : flex ;
    padding-top : 50px ;
    padding-left : 120px ;
}

.logo_img_13 {

    flex : 25% ;
}

.logo_img_14 {

    flex : 25% ;
}

.logo_img_15 {

    flex : 25% ;
}

.logo_img_16 {

    flex : 25% ;
}