* {

    font-family : Oswald , sans-serif ;
}

body {

    background : linear-gradient( to right , limegreen , rgb(255, 255, 37) ) ;
    background-repeat: none ;
}

/* Top Content */

.head-container {

    top : 0 ; left : 0 ;
    width : 100% ;
    text-align : center ;
    font-size : 15px ;
    letter-spacing: 2px ;
}

/* Navigate Bar */ 

.navigate-bar li{

    font-size : 30px ;
    font-weight : bold ;
    display : inline ;
    margin-left : 180px ;
}

.navigate-bar li:hover {

    transition-duration : 0.1s ;
    border-bottom : solid rgb(74, 170, 226) 8px ;
}

/* Middle Content */

/* Project 1 */

.middle-container-1 {

    margin-top : 100px ;
    display : flex ;
}

.middle-container-1-content {

    border-radius : 15px ;
    background : linear-gradient( to right bottom , limegreen , rgb(255, 255, 37) ) ;
    flex : 30% ;
    font-size : 20px ;
    transition-duration : 0.2s ;
}

.middle-container-1-content:hover {

    margin-bottom : 3px ;
    margin-left : 3px ;
    box-shadow: inset 8px -8px rgb(255, 255, 37) ;
}

.middle-container-1-img {

    flex : 50% ;
    border-radius : 15px ;
}

.content-1 {

    padding : 50px ;
    margin-left : 20px ;
}

.img-1 {

    margin-left : 130px ;
    border-radius : 15px ;
}

/* Project 2 */

.middle-container-2 {

    margin-top : 100px ;
    display : flex ;
}

.middle-container-2-content {

    border-radius : 15px ;
    background : linear-gradient( to right bottom , limegreen , rgb(255, 255, 37) ) ;
    flex : 30% ;
    font-size : 20px ;
    transition-duration : 0.2s ;
}

.middle-container-2-content:hover {

    margin-bottom : 3px ;
    margin-left : 3px ;
    box-shadow: inset 8px -8px rgb(255, 255, 37) ;
}

.middle-container-2-img {

    flex : 50% ;
    border-radius : 15px ;
}

.content-2 {

    padding : 100px ;
    margin-left : 20px ;
}

.img-2 {

    margin-left : 130px ;
    border-radius : 15px ;
}

/* Project 3 */

.middle-container-3 {

    margin-top : 100px ;
    display : flex ;
}

.middle-container-3-content {

    border-radius : 15px ;
    background : linear-gradient( to right bottom , limegreen , rgb(255, 255, 37) ) ;
    flex : 30% ;
    font-size : 20px ;
    transition-duration : 0.2s ;
}

.middle-container-3-content:hover {

    margin-bottom : 3px ;
    margin-left : 3px ;
    box-shadow: inset 8px -8px rgb(255, 255, 37) ;
}

.middle-container-3-img {

    flex : 50% ;
    border-radius : 15px ;
}

.content-3 {

    padding : 50px ;
    margin-left : 20px ;
}

.img-3 {

    margin-left : 130px ;
    border-radius : 15px ;
}