* {

    font-family : Oswald , sans-serif ;
}

body {

    background-color : #1a1a1aff ;
    background-repeat: none ;
}

/* Top Content */

.head-container {

    top : 0 ; left : 0 ;
    width : 100% ;
    text-align : center ;
    font-size : 15px ;
    letter-spacing: 2px ;
}

/* Navigate Bar */ 

.navigate-bar li{

    font-size : 30px ;
    font-weight : bold ;
    display : inline ;
    margin-left : 180px ;
}

.navigate-bar li:hover {

    transition-duration : 0.1s ;
    border-bottom : solid gold 8px ;
}

/* First 4 Logos [ First Row ] */

.logos-container-1 {

    display : flex ;
    padding-top : 50px ;
    padding-left : 120px ;
}

.logo_img_1 {

    flex : 25% ;
}

.logo_img_2 {

    flex : 25% ;
}

.logo_img_3 {

    flex : 25% ;
}

.logo_img_4 {

    flex : 25% ;
}

/* Second 4 Logos [ Second Row ] */


.logos-container-2 {

    display : flex ;
    padding-top : 50px ;
    padding-left : 120px ;
}

.logo_img_5 {

    flex : 25% ;
}

.logo_img_6 {

    flex : 25% ;
}

.logo_img_7 {

    flex : 25% ;
}

.logo_img_8 {

    flex : 25% ;
}