body , html {

    width : 100% ;
    height : 100% ;
    padding : 0 ;
    margin : 0 ;
    font-family : Oswald , 'sans-serif' ;
    background-color : white ;
}

/* Profile */

.profile {

    padding : 12% ;
    display: flex ;
    width : 76% ;
    height : 400px ;
    background : linear-gradient( pink , yellow ) ;
}

.pfp {

    border-radius : 100% ;
}

.name-profession {

    font-family : "Outfit" ; /* local font */
    color : white ;
    font-size : 30px ;
    margin-left : 150px ;
}

/* Contact */

.contact {

    top : 0 ;
    right : 0 ;
    margin-top : 250px ;
    margin-right : 10px ;
    display : flex ;
    flex-direction : column ;
    position : fixed ;
}

.contact img {

    width : 30px ;
    margin-top : 10px ;
    transition-duration : 0.2s ;
}

.contact img:hover {

    width : 35px ;
}

/* Floating Objects */

@keyframes float-X-1-anim {

    0%{ transform : rotate( 0deg ) ; }
    50%{ transform : rotate( 180deg ) ; }
    100%{ transform : rotate( 360deg ) ; }
}


.float-X-1 {

    width : 50px ;
    position : absolute ;
    margin : 100px 0 0 400px ;
    animation-name : float-X-1-anim ;
    animation-duration : 8s ;
    animation-iteration-count : infinite ;
    animation-timing-function : linear ;
}

.float-X-2 {

    width : 100px ;
    position : absolute ;
    margin : 140px 0 0 80px ;
    animation-name : float-X-1-anim ;
    animation-duration : 20s ;
    animation-iteration-count : infinite ;
    animation-timing-function : linear ;
    animation-direction : reverse ;
    animation-delay : -5 ;
}

.float-circles {

    width : 100px ;
    position : absolute ;
    margin : 380px 0 0 400px ;
}

/* Navigate Bar */

.navigate-bar {

    padding : 10px 0 10px 0 ;
    width : 100% ;
    font-family : Oswald , sans-serif ;
    border-radius : 30px ;
    box-shadow : 0 -22px 0 0 rgb(255, 255, 14) ;
}

.navigate-bar li{

    font-size : 30px ;
    font-weight : bold ;
    display : inline ;
    margin-left : 180px ;
}

.navigate-bar a {

    color : #1d1d1dff ;
    text-decoration : none ;
    transition-duration : 0.1s ;
}

.navigate-bar a:hover {

    transition-duration : 0.1s ;
    color : gold ;
}

/* Content */

.section {

    margin : 100px 50px ;
}

/* Project 1 */

.middle-container-1 {

    margin-top : 100px ;
    display : flex ;
    border-radius : 15px ;
    padding : 30px ;
    transition-duration : 0.2s ;
}

.middle-container-1:hover {

    box-shadow : 0 0 36px 0 rgba(0,0,0,0.5) ; 
}

.middle-container-1-content {

    border-radius : 15px ;
    padding-top : 20px ;
    flex : 30% ;
    font-size : 20px ;
}

.middle-container-1-img {

    flex : 50% ;
    border-radius : 15px ;
    padding : 15px ;
}

.content-1 {

    text-align : center ;
    margin-top : 80px ;
    font-size : 30px ;
}

.img-1 {

    margin-left : 130px ;
    border-radius : 15px ;
    transition-duration: 0.1s ;
    width : 600px ;
}

.img-1:hover {

    width : 605px ;
    box-shadow : 0 0 30px 0 rgba(0,0,0,0.3) ;
}

/* Project 2 */

.middle-container-2 {

    margin-top : 100px ;
    display : flex ;
    border-radius : 15px ;
    padding : 30px ;
    transition-duration : 0.2s ;
}

.middle-container-2:hover {

    box-shadow : 0 0 36px 0 rgba(0,0,0,0.5) ; 
}

.middle-container-2-content {

    border-radius : 15px ;
    padding-top : 20px ;
    flex : 30% ;
    font-size : 20px ;
}

.middle-container-2-img {

    flex : 50% ;
    border-radius : 15px ;
    padding : 15px ;
}

.content-2 {

    text-align : center ;
    margin-top : 80px ;
    font-size : 30px ;
}

.img-2 {

    margin-left : 130px ;
    border-radius : 15px ;
    transition-duration: 0.1s ;
    width : 600px ;
}

.img-2:hover {

    width : 605px ;
    box-shadow : 0 0 30px 0 rgba(0,0,0,0.3) ;
}

/* Project 3 */

.middle-container-3 {

    margin-top : 100px ;
    display : flex ;
    border-radius : 15px ;
    padding : 30px ;
    transition-duration : 0.2s ;
}

.middle-container-3:hover {

    box-shadow : 0 0 36px 0 rgba(0,0,0,0.5) ; 
}

.middle-container-3-content {

    border-radius : 15px ;
    padding-top : 20px ;
    flex : 30% ;
    font-size : 20px ;
}

.middle-container-3-img {

    flex : 50% ;
    border-radius : 15px ;
    padding : 15px ;
}

.content-3 {

    text-align : center ;
    margin-top : 80px ;
    font-size : 30px ;
}

.img-3 {

    margin-left : 130px ;
    border-radius : 15px ;
    transition-duration: 0.1s ;
    width : 600px ;
}

.img-3:hover {

    width : 605px ;
    box-shadow : 0 0 30px 0 rgba(0,0,0,0.3) ;
}