body , html {

    width : 100% ;
    height : 100% ;
    padding : 0 ;
    margin : 0 ;
}

/* Top Panel */

.panel {

    background : linear-gradient( rgba( 255 , 255 , 255 , 0.1 ) , rgba( 255 , 255 , 255 , 0 ) ) ;
    backdrop-filter: blur( 3px ) ;
    position : fixed ;
    top : 0 ;
    width : 100% ;
    border : solid 1px rgba( 255 , 255 , 255 , 0.10 ) ;
    box-shadow : 0 8px 32px 0 rgba( 0,0,0,0.10 ) ;

    display : flex ;
}

.logo {

    width : 75px ;
    padding : 5px 20px ;
}

.panel ul {

    margin-top : 25px ;
}

.panel li {

    padding : 30px ;
    display : inline ;
    list-style : none ;
}

.panel a {

    transition-duration : 0.1s;
    font-family : Oswald ;
    font-size : 20px ;
    color : #1d1d1dff ;
    text-decoration : none ;
}

.panel a:hover {

    padding : 10px ;
    color : gold ;
    border-radius : 15px ;
    box-shadow : 0 8px 32px 0 rgba( 0,0,0 , 0.10 ) ;
}

.donation {

    margin-left : 100px ;
}

/* Qoute */

.qoute {

    font-family : 'Heebo' ;
    width : 70% ;
    margin : 200px 400px ;
}

.row-2 {

    margin-left : 100px ;
}

/* Content [ Brief Look to Sections ] */

.content-container {

    margin-left : 30px ;
}

.container-1 , .container-2 , .container-3 {

    display : flex ;
    justify-content : space-between ;
}

.content-container h2 {

    font-family : 'Heebo' ;
    text-align : center ;
    background-color : rgb(240, 240, 240) ;
    box-shadow : 0 8px 36px 0 rgba(0,0,0,0.20) ;
    border-radius : 10px ;
}

/* Container 1 */

.container-1 h2 {

    flex : 70% ;
    padding-top : 100px ;
}

.recommended-button {

    visibility : hidden ;
    position : absolute ;
    width : 300px ;
    margin-left : 700px ;
}

/* Container 2 */

.container-2 {

    margin-top : 50px ;
}

.container-2 h2 {

    flex : 50% ;
    padding : 200px 20px ;
    margin-right : 20px ;
}

.container-2 img {

    flex : 50% ;
    margin-right : 30px ;
    width : 25px ;
}

/* Container 3 */

.container-3 {

    margin-top : 50px ;
}

.container-3 h2 {

    flex : 50% ;
    padding : 200px 50px ;
}

.container-3 img {

    flex : 50% ;
    width : 250px ;
    margin-left : 30px ;
}

.container-3 a:hover {

    color : rgb(76, 76, 255) ;
}

/* Footer */

.footer {

    background-color : #ecececff ;
    box-shadow : 0 8px 36px 0 rgba(0,0,0,0.20) ;
    padding : 20px ;
    display : flex ;
    margin-top : 30px ;
}

.footer-div {

    margin-top : 8px ;
    margin-left : 200px ;
}

.footer-div li {

    list-style : none ;
    margin-top : 20px ;
}

.footer-div a {

    color : #1d1d1dff ;
    text-decoration : none ;
}

.footer-div a:hover {

    color : gold ;
}