* {

    font-family : sans-serif ;
}

body{

    background-color : dodgerblue ;
}

/* Pepsi Logo */

.pepsi-logo {

    position : relative ;
}

.logo {

    width : 120px ;
    margin-left : 60px ;
    margin-top : 5px ; 
}

/* Top Elements ( Header ) */

.top-elements {

    position : absolute ;
    right : 130px ;
    top : 30px ;
    height : 80px ;
}

.top-elements li {

    display : inline-block ;
}

.top-elements li a {

    color : white ;
    text-decoration : none ;
    padding : 10px ;
    margin-right : 50px ;
    font-size: 30px ;
    transition-duration : 0.5s ;
}

.a-top-elements:hover {

    color : rgba( 230 , 0 , 0 , 1 ) ;
}

/* middle-content */

.splash-cup-1 {

    position : absolute ;
    margin-left : 1140px ;
    margin-top : 260px ;
}

.splash-cup-2 {

    position : absolute ;
    width : 300px ;
    margin-left : 500px ;
}

.pepsi-top {

    position : absolute ;
    width : 100px ;
    margin-left : 600px ;
    margin-top : 300px ;
    z-index : -1 ;
    transition-duration: 1s ;
}

.splash-cup-2:hover + .pepsi-top {

    margin-left : 500px ;
}

/* pepsi image */

.pepsi-qoute {

    padding : 25px ;
    margin : 80px 50px ; 
    letter-spacing: 8px ;
    position : absolute ;
    font-size: larger ;
}

.pepsi-image {

    float : right ;
    width : 200px ;
    margin : 40px 80px ;
    transition-duration: 0.5s ;
}

.pepsi-image:hover {

    transition-duration: 0.5s ;
    transform : rotate( -10deg ) ;
}